@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

.font-bangla {
  font-family: 'Hind Siliguri', 'Noto Sans Bengali', sans-serif;
}
